.form__date-range-picker {
  position: relative;
  height: 164px;
  padding: 32px;

  &__title {
    font-size: 28px;
    color: #333333;
    line-height: 40px;
  }

  &__content {
    margin-top: 16px;
  }

  &__text {
    display: inline-block;

    &.placeholder {
      color: #999999;
    }
  }

  &__separator {
    display: inline-block;
    width: 40px;
    height: 2px;
    background: #333333;
    margin: 0 50px;
    vertical-align: middle;
  }

  &::after {
    @include halfPxBorder;
    content: '';
    left: 32px;
    right: 32px;
    background: #F0F2F5;
    bottom: 0;
  }

  &--error::after {
    background: $errorColor;
  }

  .form__date-picker__wrap {
    display: inline-block;
  }
}
