.hd-guidepopup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
  // -webkit-transition: visibility 200ms ease-in;
  // transition: visibility 200ms ease-in;
  z-index: 99999;
  //overflow: hidden;


  &--active {
    visibility: visible;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
  }

  &__container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;

    .large_text {
      @extend .font40
    }
  }
}
