.message-item__exchange-wechat {
  font-size: 30px;
  color: $titleColor;

  &__number {
    font-size: 24px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #4256DC;
    line-height: 36px;
    text-align: center;
    text{
      margin-left:16px;
    }
  }

  &__notice {
    margin-bottom: 4px;
  }
}
