.hd-radio {
  display: flex;
  align-items: center;
  .at-icon {
    display: inline-block;
    font-family: iconfont;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    vertical-align: middle;
  }

  &--actived {
    .hd-radio__icon-cnt {
      color: #fff;
      border: 0;
      background-color: $primaryColor;
    }

  }

  &__icon-cnt {
    padding: 3px;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    color: transparent;
    font-size: 25px;
    border: 1px solid rgba(97, 144, 232, .2);
    border-radius: 50%;
    text-align: center;
    background-color: #fff;
    box-sizing: border-box;
    -webkit-transition: all .2s;
    transition: all .2s;
  }

}
