.login-index {
  position: relative;
  min-height: 1300px;
  width: 100%;
  display: flex;
  justify-content: center;
  background: url('https://oss.yimaitongdao.com/mp/common/login-bg.png') no-repeat;
  background-size: 100% auto;

  &__footer {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: calc(#{$pageBottom} + 60px);
    color: #003D79;
    @extend .font26;
  }
}
