.chat__input-bar {
  z-index: 6;
  background-color: #fff;
  position: fixed;
  height: 120px;
  padding: 32px 30px;
  display: flex;
  align-items: center;
  bottom: $pageBottom;

  &.l2 {
    height: 150px;
  }


  &.l3 {
    height: 180px;
  }
}

.chat__input-button {
  width: 96px;
  height: 56px;
  background-color: $primaryColor;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  flex-shrink: 0;
  line-height: 56px;
  position: relative;

  &.disabled {
    background-color: #B4CBFD;
  }

  &.kb-button {
    background-color: transparent;

    .iconjianpan {
      color: $primaryColor;
      font-size: 50px;
    }
  }

  &.send_button {
    border-radius: 9999PX;
  }
}

.chat__input {
  width: 458px;
  margin: 0 20px;
  font-size: 30px;
  line-height: 30px;
  max-height: 110px;
}

.chat-input__placeholder {
  color: #A6A6A6;
  font-size: 30px;
}

.chat__cyy-wrapper {
  position: fixed;
  bottom: $pageBottom;
  z-index: 5;
  padding-bottom: 120px;
  width: 100%;
}

.chat__cyy {
  margin-bottom: -1px;
  width: 100%;
  background: #fff;
}

.chat__cyy-action {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  display: flex;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-top: 1px #F0F2F5 solid;
  }

  &__button {
    position: relative;
    height: 120px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: 400;
    color: #333333;
    line-height: 44px;
    flex-grow: 1;

    &.hover {
      background: #f5f7fa;
    }

    .button-icon {
      width: 40px;
      height: 40px;
      margin-right: 10px;
    }

    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 20px;
      bottom: 20px;
      border-right: #F0F2F5 solid 1px;
    }

    &:last-of-type::after {
      border-right: none;
    }
  }
}

.chat__safearea {
  position: fixed;
  bottom: 0;
  height: $pageBottom;
  background: #fff;
  z-index: 10;
  width: 100%;
}
