.message-content{
    &-createResume{
        border-radius:0 0 8px 8px;
        display: flex;
        flex-wrap: wrap;
        padding: 0 34px 8px 34px;
        &__btn{
          background: #F3F5FF;
          border-radius: 4px;
          line-height: 44px;
          margin-bottom: 16px;
          margin-right: 16px;
          padding: 6px 16px;
          text-align: center;
          font-size: 24px;
          font-weight: 400;
          color: #474C66;
          .icon{
              font-size: 30px;
              margin-right: 4px;
          }
          .iconic_online{
            color: #FF9F2D;
          }
          .iconresumeWechat{
            color: #86DB89;
          }
          .iconresumeMobile{
            color: #7996F9;
          }
        }
      }
}

