.message-interaction {
  display: flex;
  height: 160px;
  padding: 30px;

  & &__head {
    height: 100px;
    width: 100px;
  }

  & &__avatar {
    height: 100px;
    width: 100px;
    border-radius: 9999PX;
    background-color: #FFF;
  }

  &--hover {
    background-color: $bgColor;
  }

  & &__body {
    margin-left: 25px;
    flex-grow: 1;
  }

  & &__meta {
    display: flex;
    flex-grow: 1;
    align-items: baseline;
    margin-top: 4px;
    max-width: 560px;
  }

  & &__name {
    flex-shrink: 1;
    font-weight: bold;
    color: #151931;
    font-size: 32px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 288px;
  }

  & &__company {
    flex-shrink: 2;
    margin-left: 8px;
    font-weight: 500;
    color: #7B7F97;
    font-size: 26px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  & &__date {
    color: #7B7F97;
    flex-shrink: 0;
    margin-left: auto;
    font-size: 24px;
    padding-left: 20px;
  }

  & &__content {
    display: inline-block;
    color: #474C66;
    font-size: 26px;
    max-width: 450px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 14px;
  }

  & &__chat-status {
    font-size: 26px;
    font-weight: 500;

    &.profile-file {
      color: #7A7F99;
    }

    &.no-read {
      color: $primaryColor;
    }
  }
}