.resume-action-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  height: calc(176px + #{$pageBottom});
  padding: 44px 26px calc(44px + #{$pageBottom});
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 50;

  &__button {
    height: 88px;
    background: #F3F5FF;
    border-radius: 9999PX;
    border: 2px solid #4256DC;
    font-size: 32px;
    font-weight: 600;
    color: #4256DC;
    line-height: 88px;
    text-align: center;
    flex-grow: 1;
    margin: 0 20px;
  }
}
