$tabHeaderHeight: 90px;

.discover-article-index {
  &__scrollview {
    position: fixed;
    width: 100%;
    bottom: $tabBarBottom;
  }

  &__tab {
    padding-left: 40px;
  }

  &__list {
    height: 100%;
    padding-top: 20px;
  }

  &__empty {
    .hd-empty__image {
      margin-top: 120px;
    }
  }
}