.my-index__badge {
  visibility: hidden;
  position: absolute;
  width: 30px;
  height: 30px;
  background: #FF5B4E;
  border-radius: 9999PX;
  line-height: 30px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  left: 55%;
  top: -10px;

  &--td {
    width: 50px;
  }

  &--hd {
    width: 60px;
  }

  &--visible {
    visibility: visible;
  }
}
